{% extends 'basic.html' %}
{% load static %}
{% load bootstrap %}

{% block main_block %}

<div class='container'>
  <form method="GET">
    {{ filter.form|bootstrap }}
    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>
</div>

<div class="product_list">
  <ul class="product-list-content">
  {% for product in filter.qs %}
      <li class="product border border-secondary rounded">
        <div class="product-box">
          <a href="{% url 'items:product_details' pk=product.pk %}"><h4>{{ product.name|truncatewords:4 }}</h4></a>
          <a href="{% url 'items:product_details' pk=product.pk %}">
            <img class="figure-img img-fluid rounded" src="{% static product.get_img_pass %}" alt="Фото отсутствует.">
          </a>
          <div class="product-info">
            <table class="div-chr">
              <tr>
                <td><p><strong>Цена:</strong> <span class="price">{{ product.price }}</span> грн.</p></td>
                <td>
                  {% if product.available %}
                    <strong><p style="color:green">Есть в наличии</p></strong>
                  {% else %}
                    <strong><p style="color:red">Наличие уточнять.</p></strong>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><p><strong>Размер:</strong> {{ product.type }}</p></td>
                <td><p><strong>Материал:</strong> {{ product.fabric|capfirst }}</p></td>
              </tr>
            </table>
          </div>
        </div>
      </li>
  {% endfor %}
  </ul>
<!--PAGINATOR-->
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}
