{% extends 'products.html' %}
{% load static %}
{% load bootstrap %}

{% block product_block %}
<div class="product_list">
  <ul class="product-list-content">
  {% for product in paginator %}
      <li class="product border border-secondary rounded">
        <div class="product-box">
          <a href="{% url 'items:product_details' pk=product.pk %}"><h4>{{ product.name|truncatewords:4 }}</h4></a>
          <a href="{% url 'items:product_details' pk=product.pk %}">
            <img class="figure-img img-fluid rounded" src="{% static product.get_img_pass %}" alt="Фото отсутствует.">
          </a>
          <div class="product-info">
            <table class="div-chr">
              <tr>
                <td><p><strong>Цена:</strong> <span class="price">{{ product.price }}</span> грн.</p></td>
                <td>
                  {% if product.available %}
                    <strong><p style="color:green">Есть в наличии</p></strong>
                  {% else %}
                    <strong><p style="color:red">Наличие уточнять.</p></strong>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td><p><strong>Размер:</strong> {{ product.type }}</p></td>
                <td><p><strong>Материал:</strong> {{ product.fabric|capfirst }}</p></td>
              </tr>
            </table>
          </div>
        </div>
      </li>
  {% endfor %}
  </ul>

<!--PAGINATOR-->

{% if is_paginated %}
<nav>
  <ul class="pagination">
    <!-- {% if paginator.has_previous %}
    <li>
      <a href="?page={{ paginator.previous_page_number }}">&laquo;</a>
    </li>
    {% else %}
    <li class="disabled"><a href="?page=1">&laquo;</a></li>       
    {% endif %}
    {% for i in paginator.count %}
      {% if i == paginator.number %}
      <li class="active">
      <a href="?page={{ paginator.number }}">{{ paginator.number }}</a>
      </li>
      {% endif %}
      <li><a href="?page={{i}}" ></a></li>
    {% endfor %}
    <span class="current">
        Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
    </span>

    {% if paginator.has_next %}
    <li><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
    {% endif %} -->
    <li><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
    <span class="current">
        Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
    </span>

  </ul>
</nav>
{% endif %}
</div>
{% endblock %}
